@model (SystemInfo SystemInfo, Company Company, string FooterShow)
@using SearchAFile.Core.Domain.Entities;

<div id="footer"
     class="cus-bg-primary d-flex align-items-center cus-no-select @Model.FooterShow">
    <span style="color: var(--secondary-text-color); font-size: smaller;">
        <b>Version:</b> @Model.SystemInfo.Version
    </span>
    <span class="ps-3" style="color: var(--secondary-text-color); font-size: smaller;">
        <b>Contact:</b>
        <a class="cus-text-secondary-text"
           href="mailto:@Model.SystemInfo.ContactEmailAddress">
            @Model.SystemInfo.ContactName
        </a>
    </span>
    <img class="ps-3 ms-auto" height="35" src="@(Model.Company != null ? "/CompanyFiles/" + Model.Company.FooterLogo : "/SystemFiles/" + Model.SystemInfo.FooterLogo)" alt="Footer Logo" />
</div>