@page
@using SearchAFile.Web.Classes
@model SearchAFile.Web.Pages.Files.CreateModel
@{
    Layout = "_LayoutModal";
}

<form id="objForm" method="post" enctype="multipart/form-data" onmouseup="window.top.ResizeModal();" onmouseover="window.top.ResizeModal();" onsubmit="$('#btnSubmit').prop('disabled', $(this).valid()); $('#btnCancel').toggleClass('disabled', $(this).valid());">

    <div id="divValidationSummary" asp-validation-summary="All" hidden></div>
    <input asp-for="Id" hidden />

    @await Html.PartialAsync("~/Pages/Shared/_FileUploaderPartial.cshtml", Model.FileUploaderOptions)

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <link rel="stylesheet" href="~/css/fileUploader.css" />
    <script src="~/js/fileUploader.js"></script>
    <script>window.FileUploader.autoInit('.file-uploader');</script>

    <script type="text/javascript">

        if (self == top) {

            history.back();
        }

        $(window).resize(function () {

            if (self !== top) {

                window.top.ResizeModal();
            }
        });

    </script>

}