/****************************** VARIABLES ***************************/
:root {
    --header-height: 4rem;
    --body-height: calc(100vh - var(--header-height));
    --footer-height: 3rem;
    --nav-width: 70px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.bx-x {
    padding-left: -1rem;
}

.body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.4s;
}

#footer {
    height: var(--footer-height);
    padding: 0 0.5rem;
}

a.nav_link,
a.nav_logo {
    text-decoration: none !important;
    text-align: center;
}

.nav_name {
    color: inherit;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 1rem;*/
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.4s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    padding-left: 1rem;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

    .header_img img {
        width: 40px;
    }

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    /*padding: .5rem 1rem 0 0;*/
    transition: 0.4s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.8rem;
    padding: .5rem 0 .5rem 0.75rem;
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.3rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    height: calc(var(--header-height) + 0.1rem);
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    /*margin-bottom: 1.5rem;*/
    transition: .3s;
}

    .nav_link:hover {
        color: var(--white-color);
    }

.nav_icon {
    font-size: 1.25rem;
}

.show-menu {
    left: 0;
}

#body-pd:not(.body-pd) {
    padding-left: calc(-1rem);
}

.body-pd {
    padding-left: calc(var(--nav-width));
}

a.nav_link.active {
    /*border-left: 4px solid var(--secondary-color);*/
    /*color: var(--white-color);*/
}

    a.nav_link.active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: var(--secondary-color);
    }

.height-100 {
    margin: calc(var(--header-height) + 1rem) 1rem 1rem 1rem;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);
}

.dashboard-height {
    min-height: 50px;
    max-height: calc(100vh - var(--header-height) - var(--footer-height) - 7.75rem);
}

/*@media screen and (min-width: 768px) {*/
@media screen and (min-width: 1024px) {
    .body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        /*height: calc(var(--header-height) + 1rem);*/
        padding: 0 2rem 0 calc(var(--nav-width))
    }

    .height-100 {
        margin: 4rem 1rem 1rem 1rem;
        min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);
    }

        .height-100:not(.height-100-show) {
            margin: calc(var(--header-height) + 1rem) 1rem 1rem calc(var(--nav-width) + 1rem);
            min-height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem);
        }

    /*.dashboard-height {
        height: calc(100vh - var(--header-height) - var(--footer-height) - 4rem);
    }*/

    #footer {
        height: var(--footer-height);
        margin-left: var(--nav-width);
    }

        #footer.footer-show {
            height: var(--footer-height);
            margin-left: 0;
        }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .l-navbar {
        left: 0;
        /*padding: 1rem 1rem 0 0*/
    }

    .show-menu {
        /*width: calc(var(--nav-width) + 156px);*/
        width: calc(var(--nav-width) + 225px);
    }

    .body-pd {
        /*padding-left: calc(var(--nav-width) + 156px);*/
        padding-left: calc(var(--nav-width) + 225px);
    }

    .header_toggle {
        color: var(--first-color);
        font-size: 1.5rem;
    }
}

input:focus,
textarea:focus {
    box-shadow: none !important;
}

.cus-pulse {
    padding: 0;
}

    .cus-pulse:active {
        transform: scale(0.90) !important;
    }

    .cus-pulse:focus {
        box-shadow: none;
    }

.cus-icon:hover {
    transform: translate(0, 2px);
}

.cus-icon:focus {
    box-shadow: none;
}

.cus-no-box-shadow:focus {
    box-shadow: none;
}