@page
@model SearchAFile.Web.Pages.Company.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.Company1" class="control-label"></label>
                <input asp-for="Company.Company1" class="form-control" />
                <span asp-validation-for="Company.Company1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactName" class="control-label"></label>
                <input asp-for="Company.ContactName" class="form-control" />
                <span asp-validation-for="Company.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactEmailAddress" class="control-label"></label>
                <input asp-for="Company.ContactEmailAddress" class="form-control" />
                <span asp-validation-for="Company.ContactEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactPhoneNumber" class="control-label"></label>
                <input asp-for="Company.ContactPhoneNumber" class="form-control" />
                <span asp-validation-for="Company.ContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Address" class="control-label"></label>
                <input asp-for="Company.Address" class="form-control" />
                <span asp-validation-for="Company.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.HeaderLogo" class="control-label"></label>
                <input asp-for="Company.HeaderLogo" class="form-control" />
                <span asp-validation-for="Company.HeaderLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.FooterLogo" class="control-label"></label>
                <input asp-for="Company.FooterLogo" class="form-control" />
                <span asp-validation-for="Company.FooterLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.EmailLogo" class="control-label"></label>
                <input asp-for="Company.EmailLogo" class="form-control" />
                <span asp-validation-for="Company.EmailLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.PrimaryColor" class="control-label"></label>
                <input asp-for="Company.PrimaryColor" class="form-control" />
                <span asp-validation-for="Company.PrimaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.SecondaryColor" class="control-label"></label>
                <input asp-for="Company.SecondaryColor" class="form-control" />
                <span asp-validation-for="Company.SecondaryColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.PrimaryTextColor" class="control-label"></label>
                <input asp-for="Company.PrimaryTextColor" class="form-control" />
                <span asp-validation-for="Company.PrimaryTextColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.SecondaryTextColor" class="control-label"></label>
                <input asp-for="Company.SecondaryTextColor" class="form-control" />
                <span asp-validation-for="Company.SecondaryTextColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Url" class="control-label"></label>
                <input asp-for="Company.Url" class="form-control" />
                <span asp-validation-for="Company.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Lock" class="control-label"></label>
                <input asp-for="Company.Lock" class="form-control" />
                <span asp-validation-for="Company.Lock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Active" class="control-label"></label>
                <input asp-for="Company.Active" class="form-control" />
                <span asp-validation-for="Company.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
