@page
@model SearchAFile.Web.Pages.Home.AccessDeniedModel

<div class="position-sticky d-flex justify-content-center text-center" style="font-weight: 500; top: 48%;">
    <label class="text-danger fs-4 h-100">You do not have access to the requested page</label>
</div>