@page
@model SearchAFile.Web.Pages.Home.DashboardModel

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center">
        <label class="fs-5 pe-3" style="white-space: nowrap;"><i class="fa-solid fa-comments cus-text-primary-no-hover"></i> Collections</label>
        <form method="get">
            <div class="input-group">
                <input asp-for="search" class="form-control" type="search" placeholder="Search collections..." onchange="if (this.value === '') {this.form.submit(); }" />
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="card-body">
        @await Html.PartialAsync("~/Pages/Shared/_DashboardPartial.cshtml", Model.Collections)
    </div>

</div>