@page
@model SearchAFile.Pages.Home.SystemDownModel

@{
    Layout = "_LayoutModal";
}

<div style="text-align: center;">
    <h1>The SearchAFile System is currently down. Please report this to Elijah Beasley at <a href="mailto:elijahmbeasley@gmail.com">elijahmbeasley@gmail.com</a></h1>
</div>